/build/
/nbproject/private/
/nbproject/
#Proyecto ejecutable
/dist
#Carpeta donde se guarda lo que descargo
/nuevo

# Archivos compilados
*.class

# Archvios .jar descargados para pruebas
*.jar

# Librerias de los archivos .jar necesarias
/lib/

# Readme de los jar descargados
README.TXT
